$accent: #8D81AC;
$white: #fff;
$ui-black-600: #27262A;
$ui-black-400: #323232;
$ui-black-500: #333;
$ui-black-200: #848E97;


$title: #635C73;
$ui-ff-Monts: 'Montserrat', sans-serif;
$ui-ff-Lato: 'Lato';
